
/*body{
	margin: 1%;
	padding:1%;
	background-color: #5F9EA0;
	font-size: 100%;
	min-width: 500px;

}*/

body {
  padding: 10px;
  background-color: #85425E;
  font-family: sans-serif;
}

.navbar {
  background-color: #E4CE69;
}

.button {
  background-color: #4BA5B0;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hoover {
  background-color: #8FBC8F;
  color: #4CAF50;
}

a{
	/*display:block;*/
	background-color: #4BA5B0;
	border: 1px solid black;
  color: white;
	/*text-align: center;*/
	/*border-radius: 10px;*/
	/*text-decoration: none;*/
	/*padding: 2%;
	margin: 1%;
  background-color: #4682B4 ;*/
}

a:link {
  background-color: #8FBC8F;
  color: white;
}

a:visited {
  color: green;
}

a:hover {
  background-color: #E06FDD;
  color: #604A1C;
}

/* selected link */
a:active {
  background-color: #40E0D0;
  color: blue;
}

h1{
	text-align: left;
	color: #E0A44E;
  /*4BA5B0*/
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 10px solid #96B072;
}

.fling-minislide {width:40%; height:0px; padding-bottom: 50%; overflow:visible; position:relative; }
.fling-minislide img{ position:absolute; animation:fling-minislide 35s infinite; opacity:0; width: 100%; height: auto;}

@keyframes fling-minislide {10%{opacity:1;} 20%{opacity:0;}}
.fling-minislide img:nth-child(7){animation-delay:0s;}
.fling-minislide img:nth-child(6){animation-delay:5s;}
.fling-minislide img:nth-child(5){animation-delay:10s;}
.fling-minislide img:nth-child(4){animation-delay:15s;}
.fling-minislide img:nth-child(3){animation-delay:20s;}
.fling-minislide img:nth-child(2){animation-delay:25s;}
.fling-minislide img:nth-child(1){animation-delay:30s;}
